body {
    .ul {
        list-style-type: none;
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        border: solid 1px red;

        .band_Container {
            margin: 16px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            border: solid 1px blue;
            > input {
                margin: 5px;
            }
            > label {
                text-align: center;
            }
            > h3 {
                text-align: center;
            }
        }

        .album_Container {
            margin: 16px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            border: solid 1px blue;
            > input {
                margin: 5px;
            }
            > label {
                text-align: center;
            }
            > h3 {
                text-align: center;
            }
        }
        .song_Container {
            margin: 16px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            border: solid 1px blue;
            > input {
                margin: 5px;
            }
            > label {
                text-align: center;
            }
            > h3 {
                text-align: center;
            }
        }
    }
}
